.vscode/*
source/server/venv/*
source/server/__pycache__
node_modules/*
source/server/static/*
package-lock.json
*.pyc
*.mako
*.ini
source/server/migrations*
source/static/*
source/server/__pycache__
