# Delete this first line later, version 0.15.0 is not
# compatible with Docker for Windows
werkzeug==0.14.1
Flask
Flask-Restful
Flask-SQLAlchemy
flask_restful
Flask-Migrate
Flask-Script
psycopg2
flask_bcrypt
marshmallow
minio
flask-cors